body {
	font: 14px 'Century Gothic', Futura, sans-serif;
	margin: 20px 80px;
}

ol,
ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: '';
	display: table;
}

.status {
	margin-bottom: 10px;
	font-weight: bold;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 30px;
	font-weight: bold;
	line-height: 34px;
	height: 50px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 50px;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-left: 20px;
}

.current-move {
	font-weight: bold;
	color: hsl(0, 100%, 21%);
}

.highlight {
	background-color: hsl(0, 0%, 95%);
}
